.not-found {
  background-image: linear-gradient(to right, #34aadf, #02906f);
  height: calc(100vh - 200px);
  @media (max-width: $breakpoint-small) {
    min-height: calc(100vh - 370px);
    &__icon {
      svg {
        width: 79px;
        height: 163px;
      }
    }
  }

  &__container {
    height: 100%;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    @media (max-width: $breakpoint-small) {
      flex-direction: column;
    }
  }
  &__content {
    width: 38%;
    padding-left: 5%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (max-width: $breakpoint-small) {
      text-align: center;
      order: -1;
      width: 100%;
      padding: 5% 0 0 0;
    }
    h2 {
      color: white;
    }
    &__button {
      @media (max-width: $breakpoint-small) {
        margin: auto;
        padding: 10px 0;
        font-size: 14px;
      }
      @media (min-width: $breakpoint-medium) {
        width: 70%;
      }
      margin-top: 40px;
    }
  }
}
