.company-outing-card {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  background: $global-background;
  @media (max-width: $breakpoint-small) {
    background: transparent;
  }
  font-size: 14px;
  height: 100%;
  h4 {
    margin-top: 0px;
  }
  &__time {
    color: #969696;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 4px;
  }
  &__body {
    @media (min-width: $breakpoint-small) {
      padding: 0 24px;
    }
  }
  &__bottom {
    width: 100%;
    position: absolute;
    bottom: 24px;
    @media (min-width: $breakpoint-small) {
      width: 60%;
    }
  }

  &__head {
    padding: 18px 24px;
    color: $gray-light;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    color: $gray-light;
  }
  &__content {
    margin-bottom: 24px;
  }
  &__image {
    overflow: hidden;
    position: relative;
    height: 190px;
    margin-bottom: 24px;
    @media (max-width: $breakpoint-small) {
      margin-bottom: 16px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .button {
    margin: 100px;
    svg {
      width: 1px;
    }
  }
}
