.activity-card {
  background: $global-background;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  height: 100%;

  &__head {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    &__text{
  font-size: 18px;
  font-weight: 600;
    }
    span {
      margin-left: 15px;

      @media(max-width: 1150px) and (min-width:$breakpoint-medium){
        margin-left: 7px;
      }
      @media(max-width: 1150px) and (min-width:639px) {
        margin-left: 7px;
      }
    }
    display: flex;
    align-items: center;
    flex-direction: row;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    font-family: Dosis;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #101010;

    &__icon {
      span {
        width: 35px;
        height: 35px;
        margin: auto;
      }
      border-radius: 50%;
      height: 100%;
      padding: 15px 24px 15px 44px;
      @media(max-width: 1150px) and (min-width:$breakpoint-medium){
        padding: 15px 15px 15px 28px;
      }
      @media(max-width: 1150px) and (min-width:639px) {
        padding: 15px 15px 15px 28px;
      }
      margin-left: -20px;
    }
  }

  &__count {
    display: flex;
    align-items: center;
    span {
      margin-right: 24px;

      @media(max-width: 1150px) and (min-width:$breakpoint-medium) {
        margin-right: 12px;
      }
      @media(max-width: 1150px) and (min-width:640px) {
        margin-right: 12px;
      }
  }
  h6{
    margin: auto 8px auto 0;

    color: #34aadf;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  }

  &:hover {
    text-decoration: none;
    color: currentColor;
  }
}
