.radio-button {
  position: relative;
  &__input {
    position: absolute;
    visibility: hidden;
    &:checked ~ .radio-button__check {
      background: $brand-primary;
      border-color: $brand-primary;
      &::before {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
  &-count {
    color: $gray-light;
    margin-left: 4px;
  }
  &:not(:last-child) {
    margin-bottom: 2px;
  }
  &__label {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: $global-color;
  }
  &__check {
    border-radius: 50%;
    background-color: $global-background;
    border: 1px solid $gray-lighter;
    height: 12px;
    width: 12px;
    z-index: 5;
    display: flex;
    align-items: center;
    position: relative;
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 9px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: $global-background;
    }
  }

  &__check-label {
    margin-left: 8px;
    cursor: pointer;
  }
}
