.card-post {
  display: flex;
  padding: 24px 0;
  margin: 0 -12px;
  border-bottom: 1px solid $gray-light-secondary;
  font-size: 14px;
  text-decoration: none;
  @media(max-width: $breakpoint-medium-max){
    flex-direction: column;
  }
  &:hover{
    text-decoration: none;
  }
  @media(max-width: $breakpoint-small-max){
    flex-direction: column;
    padding: 12px 0;
    border-bottom: none;
  }
  >*{
    padding: 0 12px;
    box-sizing: border-box;
  }
  
  .card-images {
    border-radius: $global-border-radius;
    flex: 1 1 auto;
    max-width: 100%;
    @media(max-width: $breakpoint-small-max){
      margin: 0;
    }
  
    &__wrapper {
      display: flex;
      overflow: hidden;
      position: relative;
      @media(min-width: $breakpoint-large) {
        width: 332px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: $global-border-radius;
      }
      &--large {
        @media(min-width: $breakpoint-large) {
          width: 393px;
        }
        .card-images {
          width: 74%;
          padding-right: 4px;
        }
        img {
          @media(min-width: $breakpoint-small) {
            border-radius: 4px 0 0 4px;
          }
        }
      }
    }
      
    .slick-dots {
      @media(min-width: $breakpoint-small) {
        display: none !important;
      }
    }
    
    .slick-slide {
      padding: 0;
      > div > div {
       height: inherit;
      }
    }
    
    &__grid {
      margin: -2px 0;
      > div {
        img  {
          border-radius: 0;
        }
        &:first-child {
          img {
            border-top-right-radius: 4px;
          }
        }
        &:last-child {
          img {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }
  
  .card-image {
    padding: 2px 0;
    height: 33.3%;
    box-sizing: border-box;
  }
  
  .card {
    &-body{
      flex: 1;
      color: $global-color;
      @media(max-width: $breakpoint-medium-max){
        margin-top: 16px;
      }

    }
    &-title{
      h1,h2,h3,h4,h5{
        margin: 0;
      }
      a {
        color: $global-color;
        text-decoration: none;
      }
    }
    &-subtitle{
      color: $brand-secondary;

    }
    &-head{
      margin-bottom: 16px;
      @media(max-width: $breakpoint-xsmall-max){
        margin: 0;
      }
    }
    &-bottom{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-label{
      display: flex;
      align-items: center;
      &:not(:first-child){
        margin-top: 10px;
      }
      .icon-svg{
        margin-right: 8px;
      }
    }
    &-panel {
      display: none;
    }
  }
  &-wrapper{
    overflow: hidden;
  }
  
  &--event {
    @media(max-width: $breakpoint-small-max){
      .card-subtitle {
        display: none;
      }
      .card-panel {
        margin-top: 10px;
        display: block;
        > * {
          width: 100%;
        }
      }
    }
  }
  
  
  &.hide {
    @media(max-width: $breakpoint-small-max) {
      .card-content,
      .card-bottom {
        display: none;
      }
    }
  }
}