.overview {
  padding: 40px 0 72px 0;
  @media (max-width: $breakpoint-xsmall-max) {
    padding: 16px 0;
  }
  &-head {
    &__subtitle {
      display: flex;
      width: 100%;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      span {
        font-size: 14px;
        line-height: 1.41;
        color: #6a6a6a;
      }
    }
    &__list {
      display: flex;
      align-items: center;
      margin: 10px -2px -2px -2px;
      flex-wrap: wrap;
      > li {
        padding: 0 2px 2px 2px;
      }
    }
  }
  &-head {
    margin-bottom: 24px;
    @media (max-width: $breakpoint-xsmall-max) {
      margin-bottom: 16px;
    }
  }
  &-body {
    .uk-list-check {
      margin: 0;
      padding: 24px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid $gray-light-secondary;
      border-bottom: 1px solid $gray-light-secondary;
      @media (max-width: $breakpoint-xsmall-max) {
        background-color: #fff8ed;
        margin: 0 -16px;
        padding: 16px;
        margin-bottom: 16px;
      }
      > li {
        margin: 0 20px;
        @media (max-width: $breakpoint-medium-max) {
          margin: 0 5px;
        }
        @media (max-width: $breakpoint-xsmall-max) {
          margin: 0;
          text-align: center;
          justify-content: center;
          &:not(:first-child) {
            display: none;
          }
        }
        &:not(:last-child) {
          margin-bottom: 0;
        }
      }
    }
    .card {
      &-post {
        @media (max-width: $breakpoint-xsmall-max) {
          padding: 0 0 24px 0;
        }
      }
      &-advertise {
        @media (max-width: $breakpoint-xsmall-max) {
          margin: 0 0 24px 0;
        }
      }
    }
  }
  &-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
    > * {
      padding: 0 16px;
      box-sizing: border-box;
      &:first-child {
        flex-basis: 296px;
      }
    }
  }
}
