.input-range {
  &__slider {
    appearance: none;
    background: $brand-primary;
    border: 1px solid $brand-primary;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 0;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem;
    &-container {
      transition: left 0.3s ease-out;
    }
  }
  &__wrapper {
    margin-top: 22px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    line-height: 1.71;
    margin-top: 5px;
  }
  &__label-container {
    display: none;
  }
  &__track {
    height: 2px;
    background-color: $gray-light-secondary;
    transition: left 0.3s ease-out, width 0.3s ease-out;
    &--active {
      background-color: $brand-primary;
    }
  }
}