.activities {
  height: 688px;
  background-color: #e8f2fc;
  // h2 {
  //   color: black;
  //   text-align: center;
  //   margin: 56px 0 40px 0;
  // }
  &-cards {
    height: 58px;
    margin: 24px auto;
    width: 80%;
  }
}
