.outing-card {
  display: flex;
  padding: 24px 0;
  margin: 0 -12px;
  border-bottom: 1px solid $gray-light-secondary;
  font-size: 14px;
  text-decoration: none;
  @media (max-width: $breakpoint-xsmall-max) {
    flex-direction: column;
    padding: 12px 0;
    border-bottom: none;
  }

  &:hover {
    text-decoration: none;
  }
  > * {
    padding: 0 12px;
    box-sizing: border-box;
  }

  .card-images {
    border-radius: $global-border-radius;
    flex: 1 1 auto;
    max-width: 100%;
    height: 100%;

    @media (max-width: $breakpoint-small-max) {
      margin: 0;
    }

    &__wrapper {
      overflow: hidden;
      position: relative;
      display: flex;
      @media (max-width: $breakpoint-medium-max) {
        flex-direction: column;
      }
      @media (min-width: $breakpoint-large) {
        width: 332px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: $global-border-radius;
      }
      &--large {
        @media (min-width: $breakpoint-small) {
          width: 38%;
        }
        @media (min-width: $breakpoint-large) {
          width: 393px;
        }
        .card-images {
          flex: 1 1 auto;

          padding: 0 0 4px;
          cursor: pointer;

          div {
            padding: 0;
          }
          @media (min-width: $breakpoint-large) {
            width: 74%;
            padding: 0 4px 0 0;
            div {
              padding: 0;
            }
          }
        }
        img {
          @media (min-width: $breakpoint-small) {
            border-radius: 4px 4px 0 0;
          }
          @media (min-width: $breakpoint-large) {
            border-radius: 4px 0 0 4px;
          }
        }
      }
    }

    .slick-dots {
      @media (min-width: $breakpoint-small) {
        display: none !important;
      }
    }

    .slick-slide {
      padding: 0;
      > div > div {
        height: inherit;
      }
    }

    &__grid {
      margin: -2px 0;
      @media (max-width: $breakpoint-medium-max) {
        display: flex;
        margin: 0 -2px;
      }
      > div {
        img {
          border-radius: 0;
        }
        &:first-child {
          img {
            border-top-right-radius: 4px;
            @media (max-width: $breakpoint-medium-max) {
              border-top-right-radius: 0;
              border-bottom-left-radius: 4px;
            }
          }
        }
        &:last-child {
          img {
            border-bottom-right-radius: 4px;
          }
        }
      }
    }
  }

  .card-image {
    padding: 2px 0;
    height: 33.3%;

    box-sizing: border-box;
    cursor: pointer;
    @media (max-width: $breakpoint-medium-max) {
      height: 56px;
      padding: 0 2px;
      width: 33.3%;
    }
  }

  .card {
    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      color: $global-color;
      @media (max-width: $breakpoint-medium-max) {
        margin-top: 10px;
      }
    }
    &-title {
      h1,
      h2,
      h3,
      h4,
      h5 {
        width: fit-content;
        margin: 0;
      }
      a {
        color: $global-color;
        text-decoration: none;
      }
    }
    &-subtitle {
      color: $brand-secondary;
       @media (max-width: $breakpoint-xsmall-max) {
        margin-top: 5px;
      }
    }
    &-head {
      margin-bottom: 16px;
      @media (max-width: $breakpoint-xsmall-max) {
        margin: 0;
      }
    }
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-label {
      display: flex;
      align-items: center;
      &:not(:first-child) {
        margin-top: 10px;
      }
      &-unit {
        @media (max-width: 1100px) and (min-width: 959px) {
          display: none;
        }
      }
      span {
        margin-right: 8px;
      }
    }
    &-panel {
      display: none;
    }
  }
  &-wrapper {
    overflow: hidden;
  }

  &--event {
    @media (max-width: $breakpoint-small-max) {
      .card-subtitle {
        display: none;
      }
      .card-panel {
        margin-top: 10px;
        display: block;
        > * {
          width: 100%;
        }
      }
    }
  }

  &--small {
    @media (min-width: $breakpoint-medium) {
      border: 0;
      padding: 0;
    }

    .card-images__wrapper {
      @media (min-width: $breakpoint-small) {
        width: 38%;

        flex-direction: column;
        .card-images {
          width: 100%;
          flex: 1 1 auto;
          padding: 0 0 4px;
          img {
            border-radius: 4px 4px 0 0;
          }
        }
      }
    }

    .card-image {
      @media (min-width: $breakpoint-small) {
        height: 56px;
        width: 33.3%;
        padding: 0 2px;
      }
    }

    .card-images__grid {
      @media (min-width: $breakpoint-small) {
        display: flex;
        margin: 0 -2px;
      }
      > div {
        &:first-child {
          img {
            @media (min-width: $breakpoint-small) {
              border-top-right-radius: 0;
              border-bottom-left-radius: 4px;
            }
          }
        }
      }
    }
  }

  &.hide {
    @media (max-width: $breakpoint-xsmall-max) {
      .card-content,
      .card-bottom {
        display: none;
      }
    }
  }
}
