
.sidebar {
  background-color: $global-inverse-color;
  @media (max-width: $breakpoint-small-max) {
    padding: 16px;
    display: none;
  }
  &-wrapper {
    .button-search {
      cursor: pointer;
      background-color: $global-background;
      height: 45px;
      width: 100%;
      font-size: 16px;
      padding: 10px 32px 10px 16px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid $gray-lighter;
      font-family: $global-font-family;
      display: flex;
      padding-left: 48px;
      position: relative;
      color: #6a6a6a;
      .icon-svg {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  &__title {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    @media (max-width: $breakpoint-small-max) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 600;
      color: $brand-primary;
      padding-bottom: 16px;
      margin-bottom: 16px;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 110%;
        height: 1px;
        background-color: $global-border;
        bottom: 0;
        margin: 0 -16px;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-bottom: 16px;
      @media (max-width: $breakpoint-small-max) {
        font-size: 14px;
        margin: 0;
      }
    }
  }
  > * {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  &__item {
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 4px;
    }
  }
  &.isActive {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  &-action {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 16px;
    &:after {
      content: "";
      height: 1px;
      background-color: $global-border;
      width: 110%;
      top: 0;
      margin-left: -16px;
      position: absolute;
      left: 0;
    }
  }
  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    a {
      text-decoration: none;
      line-height: 1.71;
    }
  }
}
