.header-gallery {
  &__container {
    display: flex;
    margin: 0 -32px;
    border-radius: $global-border-radius;
    overflow: hidden;
  }
  &__slider_images {
    img {
      height: 496px !important;
    }
  }
  &__slider_arrows {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 100%;
    div {
      position: absolute;
      cursor: pointer;
      height: 48px;
      width: 48px;
      opacity: 1;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      border: none;
      span {
        margin: auto;
      }
    }
    &_prev {
      left: 10px;
    }
    &_next {
      right: 10px;
    }
  }

  &__col {
    box-sizing: border-box;
    &-card {
      img {
        height: 248px;
      }
    }
    &-cards {
      img {
        height: 116px;
      }
    }
    img {
      object-fit: cover;
      width: 100%;
    }
    &.large {
      width: 760px;
      position: relative;

      @media (max-width: $breakpoint-medium-max) {
        width: 100%;
      }
    }

    &.small {
      flex: 1;
    }
    .uk-grid-small {
      margin-left: 0;
      height: 496px;
      > * {
        padding-left: 8px;
      }

      > *:not(:first-child) {
        padding-top: 8px;
      }
    }
  }
  &__info {
    position: absolute;
    bottom: 24px;
    left: 24px;
    background-color: $global-inverse-color;
    box-shadow: 0 6px 12px 0 rgba($black, 0.06);
    padding: 12px 16px;
    border-radius: $global-border-radius;

    .slider-info {
      display: flex;
      align-items: center;
      margin: 0 -8px;
      > * {
        font-size: 14px;
        font-weight: 600;
        padding: 0 8px;
        display: flex;
        align-items: center;

        span {
          margin-right: 8px;
        }
      }
      .photo {
        color: $brand-primary;
        svg {
          path {
            fill: $brand-primary;
          }
        }
      }
    }
  }
}
