.contact-form {
  &-mail {
    width: 100%;
    margin: 12px 0 12px 0;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    color: #101010;
    &-span {
      margin-left: 7px;

      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
    svg {
      margin: auto;
      width: 100%;
      height: 100%;
    }
    a {
      align-items: center;
      justify-content: center;

      width: fit-content;
    }
  }
  &-label {
    background-color: #e8f2fc;
    padding: 16px;
    margin: 0 -16px 16px -16px;
    @media (max-width: $breakpoint-small-max) {
      display: block;
    }
    ul {
      margin: 0;
      display: flex;
      justify-content: center;
    }
  }
  &-radio-label {
    margin-top: 16px;

    margin-bottom: 8px;
    font-weight: 600;
  }
  &-bottom {
    label {
      display: table;
    }
    margin-top: 16px;
    button {
      margin-top: 24px;
    }
  }
  &-head {
    display: flex;
    margin: 0 -16px 0 -16px;
    > * {
      padding: 0 16px;
    }
  }
}
