.hamburger-menu {
  height: 100%;
  overflow: auto;
  &__navigation {
    li {
      margin-bottom: 8px;
      a {
        text-decoration: none;
        color: $global-inverse-color;
        &:hover {
          color: $global-link-color;
        }
      }
    }
  }
}
