.hamburger-menu {
  height: 100%;
  overflow: auto;
  &:hover {
    color: $global-link-color;
  }
  &__navigation {
    li {
      margin-bottom: 20px;
      display: table;
      a {
        text-decoration: none;
        color: $global-inverse-color;
      }
    }
  }
}
