.organizations {
  max-height: calc(100% - 534px);
  @media (max-width: $breakpoint-small) {
    max-height: calc(100% - 702px);
  }
  &:not(:first-child) {
    margin-top: 16px;
  }

  &__list {
    margin-top: 6px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;

 
  }
  li,
  h5 {
    width: 33%;
    margin-bottom: 12px;
    text-decoration: underline;
    @media (max-width: $breakpoint-medium) {
    }
    @media (max-width: $breakpoint-small) {
    }
    @media (min-width: $breakpoint-small) {
      margin-bottom: 9px;
    }
  }
  a {
    width: auto;
    color: $gray;
  }
}
