.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e8f2fc;
  box-sizing: border-box;
  > * {
    max-width: 100%;
    margin: auto;
    margin-bottom: 32px;
  }
}

.components{
  button  {
    margin-top: 8px;
  }
  padding-bottom: 64px;
}