.new-activity {
  max-width: $container-max-width;
  margin: auto;
  &__columns {
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    @media (max-width: $breakpoint-xsmall-max) {
      > div {
        margin-bottom: 16px;
      }
    }
  }
  &__cards {
    width: 45%;
  }
}
