.arrow-panel {
  display: block;
  position: relative;
  background-color: $global-background;
  border-left: 4px solid $brand-primary;
  padding: 13px 40px 14px 13px;
  margin-bottom: 1px;
  text-align: left;
  color: $global-color;
  transition: background-color 0.2s;
  @media (min-width: $breakpoint-small) {
    padding: 20px 40px 20px 20px;
  }

  &__title {
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%) rotate(-90deg);
    color: $brand-primary;

    path {
      stroke: currentColor;
      fill: none !important;
    }
  }

  &:hover {
    text-decoration: none;
    color: $global-inverse-color;
    background-color: $brand-primary;
    .arrow-panel__arrow {
      color: $global-inverse-color;
      path {
        fill: none;
      }
    }
  }
}
