.faq {
  &__columns {
    @media (max-width: $breakpoint-xsmall-max) {
      > div {
        margin-bottom: 16px;
      }
    }
    &__content {
      width: 350px;
    }
    ul {
      margin-top: 10px;
      margin-left: 25px;

      // li {
      //   list-style-type: none;
      // }
      li {
        list-style-type: disc;
      }
    }
  }
}
